server:
  port : 8080

spring:
  jpa:
    show-sql: true  
    hibernate:
      ddl-auto: none
  datasource:
    url: jdbc:mysql://localhost:3306/jdbcdemo 
    username: 'root'
    password: 'root'
    driver-class-name: com.mysql.jdbc.Driver
  
agentService:
  getUrl: https://gorest.co.in/public/v2/users
  getCustomerUrl: http://localhost:8081/customer

logging:
  level:
    org.springframework: ERROR
    com.quintrix: DEBUG
  pattern:
    console: " %-5level %logger{36} - %msg%n"
    file: "%d %p %c{1.} [%t] %m%n"
  file: app.log
  
config:
  timeOut: 5000
